
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
  url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'),
  url('../fonts/roboto-v29-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:
  url('../fonts/roboto-v29-latin-500.woff2') format('woff2'),
  url('../fonts/roboto-v29-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:
  url('../fonts/roboto-v29-latin-700.woff2') format('woff2'),
  url('../fonts/roboto-v29-latin-700.woff') format('woff');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

img {
  vertical-align: middle;
  object-fit: cover;
}

/* -------------------header section------------------ */

.header {
  padding: 40px 0px;
  background-image:url("../images/header-bgi.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #F3D7B7;
  background-blend-mode: overlay;
}

.container {
  width: 1380px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.header__inner {
  display: flex;
  align-items: center;
}

.nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__item {
  margin-left: 40px;
}

.nav__item--first {
  margin-left: 0;
}

.nav__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333333;
  text-decoration: none;
}

/* --------------------hero section------------------- */

.hero {
  position: relative;
  padding: 116px 0 249px 100px;
  background-image:url("../images/hero-bgi.png"), url("../images/header-bgi.png");
  background-repeat: no-repeat;
  background-size: 710px 696px, 100%;
  background-blend-mode: normal, overlay;
  background-position: calc(50% + 405px) bottom, center center;
  background-color: #F3D7B7;
}

.hero::before {
  position: absolute;
  top: -60px;
  left: calc(50% - 27px);
  display: block;
  width: 160px;
  height: 160px;
  background-image: url("../images/brend.png");
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

.hero__inner {
  width: 464px;
}

.hero__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #000000;
  margin-bottom: 24px;
}

.hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 34px;
}

.hero__link {
  display: inline-block;
  width: 193px;
  padding: 16px 24px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  background-color: #0A775F;
  border-radius: 100px;
  text-decoration: none;
}

/* ----------------------- intro section ----------------------------------- */

.intro {
  position: relative;
  padding: 20px;
  overflow: hidden;
}

.intro::before {
  position: absolute;
  top: calc(50% - 770px);
  left: calc(50% - 910px);
  display: block;
  width: 402px;
  height: 300px;
  background-image: url("../images/bgi-first.png");
  background-size: 402px 300px;
  background-repeat: no-repeat;
  content: "";
}

.intro::after {
  content: "";
  position: absolute;
  top: calc(50% - 150px);
  right: calc(50% - 1048px);
  display: block;
  width: 545px;
  height: 591px;
  background-image: url("../images/bgi-second.png");
  background-size: 545px 591px;
  background-repeat: no-repeat;
}

.holder {
  background-color:  #F8F8F2;
  background-blend-mode: overlay;
}

.holder::before {
  position: absolute;
  bottom: calc(50% - 690px);
  left: calc(50% - 945px);
  display: block;
  width: 316px;
  height: 269px;
  background-image: url("../images/bgi-third.png");
  background-size: 316px 269px;
  background-repeat: no-repeat;
  content: "";
}

.holder__inner {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.holder__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  color: #000000;
  margin-bottom: 80px;
}

.holder__list {
  width: 1114px;
  list-style-type: none;
}

.holder__item {
  display: flex;
  align-items: center;
}

.holder__item:nth-child(even) {
  flex-direction: row-reverse;
}

.holder__info {
  width: 453px;
  margin-left: 117px;
}

.holder__title-inner {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #333333;
  margin-bottom: 10px;
}

.holder__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: #333333;
}

/* ---------------------box section------------------------- */


.box {
  position: relative;
  padding-top: 50px;
  margin-bottom: 80px;
}

.box__backround {
  position: absolute;
  top: 0;
  right: calc(50% - 700px);
  z-index: -5;
  width: 1400px;
  height: 703px;
  background-image: url("../images/box-bgi.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #C99B67;
  background-blend-mode: overlay;
}

.box__top {
  margin-bottom: 80px;
}

.box__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.box__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.8;
}

.box__list {
  position: relative;
  display: flex;
  list-style-type: none;
}

.box__list::before {
  position: absolute;
  top: calc(50% - 364px);
  left: calc(50% - 720px);
  width: 140px;
  height: 144px;
  background-image: url("../images/box-bgi-group.png");
  background-size: 140px 144px;
  background-repeat: no-repeat;
  content: "";
}

.box__item {
  margin-right: 20px;
}

.box__item:nth-child(3) {
  margin-right: 0;
}

.box__item-inner {
  width: 377px;
}

.box__item-inner--active {
  width: 334px;
}

.box__item-img {
  margin-bottom: 28px;
}

.box__item-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #333333;
  margin-bottom: 10px;
}

.box__item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #333333;
}

/* ------------------------wrap section------------------ */

.wrap {
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
}

.wrapper {
  position: relative;
  padding-top: 50px;
  background-image: url("../images/wrap-bgi.png");
  background-size: 1400px 826px;
  background-color: #0A775F;
  background-blend-mode: overlay;
}

.wrapper::before {
  position: absolute;
  top: calc(50% - 300px);
  right: calc(50% - 680px);
  width: 192px;
  height: 129px;
  background-image: url("../images/wrapper-before.png");
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

.wrapper__title {
  margin-bottom: 80px;
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  color: #FFFFFF;
}

.wrapper__box {
  margin-bottom: 20px;
  background-image: url("../images/wrap-lines.svg");
  background-position: calc(50% - 147px);
  background-repeat: no-repeat;
}

.wrapper__span {
  display: inline-block;
  margin-right: 393px;
  width: 60px;
  height: 60px;
  background-color: #F8F8F2;
  border: 4px solid #C99B67;
}

.wrapper__box > .wrapper__span:last-child {
  margin-right: 0;
}

.wrapper__list {
  display: flex;
  margin-bottom: 60px;
  list-style: none;
}

.wrapper__item {
  position: relative;
  margin-right: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  width: 433px;
  background-color: #F8F8F2;
}

.wrapper__item:nth-child(3) {
  margin-right: 0; 
}

.wrapper__info {
  width: 385px;
}

.wrapper__info-span {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  color: #333333;
  opacity: 0.8;
}

.wrapper__subtitle {
  margin-top: 140px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #333333;
}

.wrapper__subtext {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #333333;
}

.wrapper__link-box {
  text-align: center;
}

.wrapper__link {
  display: inline-block;
  margin-bottom: 50px;
  padding: 16px 24px;
  background-color: #C99B67;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-decoration: none;
}


/* --------------------------footer section-------------------------- */


.footer {
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: #F3D7B7;
}

.footer__inner {
  display: flex;
  align-items: center;
}

.footer__nav {
  margin-left: 246px;
  margin-right: auto;
}

.footer__list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.footer__item {
  margin-right: 40px;
  text-decoration: none;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__item-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  color: #333333;
}

.media {
  display: flex;
}

.meadia__link {
  margin-right: 30px;
}

.meadia__link:last-child {
  margin-right: 0;
}